/* =================ROOT========================*/
:root {
    /* text */
    --very-dark-desat-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Background */
    --bg-soft-voilet: hsl(273, 75%, 66%);
    --bg-soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}
/* =================ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
/* =================RESETS========================*/


body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    line-height: 1.1;
    background-color: var(--bg-soft-voilet);
    background-image: linear-gradient(var(--bg-soft-voilet), var(--bg-soft-blue));
    position: relative;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    max-width: 50rem;
    margin: 10rem 20rem; 
    border-radius: 1.5em;
    background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: -37rem -19rem;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 0 var(--dark-grayish-blue);
}

.image-container,
.faq-container {
    max-width: 25rem;
    max-height: 50rem;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; */
}

.faq-container {
    padding-right: 5em;
}

.image-container img {
    width: 120%;
    position: relative;
    left: -7rem;
}

.title {
    font-weight: 700;
}

.accordion {
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: white;
    color: var(--very-dark-grayish-blue);
    width: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-grayish-blue);
    position: relative;
}

.active {
    color: var(--very-dark-desat-blue);
}

.accordion:hover {
    color: var(--soft-red);
}

.accordion::after {
    content: url(./images/icon-arrow-down.svg);
    position: absolute;
    right: 5px;
}

.active::after {
    content: url(./images/icon-arrow-down.svg);
    position: absolute;
    right: 5px;
    transform: rotate(180deg);
}

.panel {
    color: var(--dark-grayish-blue);
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel p {
    padding: 1em 0;
  }


  @media (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .main-container {
        background-position:0%;
        flex-direction: column;
        justify-content: space-between;
        min-width: 25rem;
        min-height: 35rem;
        background-image: none;
        padding: 4em 4em;
    }

    .image-container {
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position-y: -1em;
        background-size: 25em;
        position: relative;
        left: 0;
        right: 0;
        top: -3em;
    }

    .image-container img {
        width: 25em;
        top: -12em;
        right: 0;
        left: 0;
    }

    .faq-container {
        padding: 0;
    }

    .title {
        text-align: center;
        font-size: 3rem;
        margin-top: -5em;
        margin-bottom: 1em;;
    }
  }




/* Frontend Mentor footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    left: 0;
    right: 0;
    bottom: 15px;
}
.attribution a { 
    color: var(--soft-red); 
}